
body{
    background-color: rgb(233, 239, 243);
    height: 5000px;
    width: 2000px;
}


body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
  position: relative;
  right: 15%;
}
h2{
  position: relative;
  left: 32%;
}
.paragraph-1{
  background-color: aqua;
 
}


.change-starts-with-us{
  width:50%;
  position: relative;
  left:10%;
  bottom:60%;
  float: right;
}
.video-1{
  float:left;

}
.section-2{
  background-color: rgb(17, 28, 233);
}

.featured-stories{
  position: relative;
  top: 80%;
}
.image-1{
  position: absolute;
  top: 50%;
}
.featured-stories{
  position: absolute;
  top: 700px;
}
.image-1-text{
  position: relative;
  left: 300%;
  top: 700%;


}
.image-1, .image-2, .image-3{
  border-radius: 50%;
}
.story-1{
  position:relative;
  bottom: 8%;
}
.story-2{
  position: absolute;
  top: 500%;
}
.story-3{
  position: absolute;
  top: 930%;
}
.image-2-text, .image-3-text{
  position: relative;
  left: 165%;
   bottom: 100%;
}